---
layout: contained
---
<div class='page-header'>
	<h1>Events and Activities</h1>
</div>

{% for post in site.posts %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<a href='{{ post.url }}'>
			<h2 iid='{{ post.slug }}' temprop="name headline">
				{{ post.title }}
			</h2>
		</a>

		<p class="post-meta">
			<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
				{{ post.date | date: "%b %-d, %Y" }}
			</time>
			{% if post.author %}
			. 
			<span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span itemprop="name">{{ post.author }}</span>
			</span>
			{% endif %}
		</p>
	</header>

	<div class="post-content" itemprop="articleBody">
		{{ post.excerpt }}
	</div>
</article>
{% endfor %}
